* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #090909 !important;
}

@font-face {
    font-family: "KB Bubblegum";
    src: url("../recursos/typo/KBbubblegum.ttf");
}

@font-face {
    font-family: "Delius Swash Caps";
    src: url("../recursos/DeliusSwashCaps-Regular.ttf")
}


nav ul a {
    font-family: "KB Bubblegum";
    text-transform: uppercase;
    list-style-type: none;
    color: #EDC8DC;
    text-decoration: none;
}

nav ul li {
    display: inline;
}

nav ul {
    color: #EDC8DC;
}

img {
    width: 100%;
}

.bg-body-tertiary {
    background-color: #090909 !important;
}

.nav-link {
    color: #DFC8E8;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #dfc8e8;
}

.navbar-nav {

    --bs-nav-link-hover-color: rgba(255, 184, 229, 0.85);
}

.navbar-toggler {
    background-color: #dfc8e8;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
    font-size: 20px;
}

#logo {
    width: 200px;
}

.banner {
    width: 1210px;
}

.links {
    color: #DFC8E8;
    text-decoration: none;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #dfc8e8;
    border-color: #dfc8e8;
}

.btn-outline-success {
    --bs-btn-color: #dfc8e8;
    --bs-btn-border-color: #dfc8e8;
    --bs-btn-hover-bg: #dfc8e8;
    --bs-btn-hover-border-color: #dfc8e8;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #edc8dc;
    --bs-btn-active-border-color: #edc8dc;
}

h1 {
    color: #edc8dc;
    font-family: "KB Bubblegum";
    text-align: center;
    font-size: 28px;
}

h2 {
    border: 3px solid #EDC8DC;
    border-radius: 40px;
    padding: 30px;
    width: 900px;
    text-align: center;
    color: #EDC8DC;
    font-family: "Delius Swash Caps", "KB Bubblegum";
    font-size: 22px;
    line-height: 0.2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    width: 100%;
    border: 1.5px solid #edc8dc;
}

h3 {
    font-family: 'KB Bubblegum';
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: double;
    color: #DFC8E8;
}

p {
    font-family: "Delius Swash Caps", "KB Bubblegum";
    color: #EDC8DC;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 260px
}

.centrado {
    text-align: center;
}

.tiposdejuguetes {
    color: #EDC8DC;
    font-family: "KB Bubblegum";
    text-transform: uppercase;
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "sec1 sec2 sec3 sec4"
        "sec5 sec6 sec7 sec8";
}

.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 260px;

}

.mas-vendidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    font-family: "KB Bubblegum";
    color: #EDC8DC;
    text-align: left;
    background-color: #090909
}


.sec1 {
    grid-area: sec1;
}

.sec2 {
    grid-area: sec2;
}

.sec3 {
    grid-area: sec3;
}

.sec4 {
    grid-area: sec4;
}

.sec5 {
    grid-area: sec5;
}

.sec6 {
    grid-area: sec6;
}

.sec7 {
    grid-area: sec7;
}

.sec8 {
    grid-area: sec8;
}

.categoria-juguetes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
}

span{
    display: inline-block;
    margin-top: 10px;

}


ul li {
    font-family: "KB Bubblegum";
    text-transform: uppercase;
    color: #DFC8E8;
    

}

ul li a {
    font-family: "KB Bubblegum";
    text-transform: uppercase;
    color: #DFC8E8;

}


form input {
    position: relative;
    width: 600px;
    margin: 5px;
    border: 1px solid #ec86bd;
}

form input[type="submit"] {
    padding: 8px 16px;
    margin-top: 22px;
    border: 1px solid #ec86bd;
    border-radius: 3px;
    color: white;
    background-color: #EDC8DC;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
}

footer ul {
    color: #EDC8DC;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.banner-toys {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

.compras-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.juguetes-sexuales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.btn-primary {
    border: 2px solid #DFC8E8;
    background-color: #090909;
    border-radius: 3px;
    padding: 8px;
    color: #DFC8E8;
}

.card-title {
    text-align: left;
}

.card-text {
    text-align: left;
    margin: 0px;
    padding: 20px;
}

.slider-centrado {
    margin: auto;
    width: 30%;
}

.cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.parpadeo {
    animation: parpadeo-animation 0.8s steps(15, start) infinite, color-animation 2s ease-in-out infinite;

}

@keyframes parpadeo-animation {
    to {
        visibility: hidden;
    }
}

@keyframes color-animation {
    0% {
        color: #edc8dc;
    }

    50% {
        color: #e55aa2;
    }

    100% {
        color: #edc8dc;
    }
}

/* AL FINAL SIEMPRE */

@media (max-width: 768px) {
    .tiposdejuguetes {
        display: grid;
        grid-template-rows: (4, 1fr);
        grid-template-areas:
            "sec1 sec1 sec5 sec5"
            "sec2 sec2 sec6 sec6"
            "sec3 sec3 sec7 sec7"
            "sec4 sec4 sec8 sec8";
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
        padding: 20px;
    }

    .mas-vendidos {
        display: flex;
        flex-direction: column;
    }

    .banner {
        width: 85%;
    }

    .banner-toys {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
    }

    h1 {
        width: 90%;
        font-size: 20px;
    }


    h2 {
        width: 80%;
        line-height: 1
    }


    .cartas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
    }
}


@media (max-width: 375px) {
    .tiposdejuguetes {
        display: grid;
        grid-template-rows: (8, 1fr);
        grid-template-areas:
            "sec1 sec1 sec1 sec1"
            "sec2 sec2 sec2 sec2"
            "sec3 sec3 sec3 sec3"
            "sec4 sec4 sec4 sec4"
            "sec5 sec5 sec5 sec5"
            "sec6 sec6 sec6 sec6"
            "sec7 sec7 sec7 sec7"
            "sec8 sec8 sec8 sec8";

        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
        padding: 2px;
    }

    h2 {
        padding: 22px;
        font-size: 16px;
    }
}