.card {
    font-family: "KB Bubblegum";
    color: #EDC8DC;
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-body {
        text-align: center;

        p {
            text-align: center;
            margin: 0px;
            padding: 0;
            margin-bottom: 20px;
        }
    }

}